.div{
    height: 150px;
    width: 300px;
    background-color: grey;
    border: 5px dotted black;
    margin-top: 20px;
    margin-right: 1em;
    margin-bottom: 40px;
    margin-left: 2em;
    padding: 1e,;
}

.signal{
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
}

li{
    display: inline;
    /* here bullet points are ignored by our browser bcz in inline tag the bullet is not apply in content.  */
}
.Heading{
    color: orange;
    box-shadow: 2px 2px 10px orange;
    border-radius: 5px;
    padding-left: 10px;
    
}
.Heading::first-letter{
    color: rgb(255, 136, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.Heading:hover{
    box-shadow: 3px 3px 12px rgb(255, 132, 0);
    transition: ease-in-out;
    
}
.para1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 2px 2px 10px orange;
}
.para2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 2px 2px 10px orange;
    margin-top: 10px;
}

.btn{
    margin-top: 10px;
    background-color: orange;
    color: white;
    border: none;
    height: 30px;
    width: 100px;
    border-radius: 20px;
}
.btn:hover{
    background-color: white;
    color: orange;
    border: 1px solid orange;
    
}